.author {
  font-family: Roboto;
  color: skyblue;
  font-weight: normal;
  font-size: 11px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background: linear-gradient(to bottom, darkblue, #007bff, #000);
  font-size: 12px;
  color: white;
}

.burgerMenu {
  font-size:20px;
  cursor: pointer;
}

.menuItem {
  color: red;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: #fff 1px solid;
  text-align: right;
  cursor: pointer;
}

.bottomMenu {
  display: flex;
  flex-direction: column;
  align-items: right;
  background-color: #001f3f;
  color: #fff;
}

.bottomMenu div {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  border-bottom: #fff 1px solid;
  text-align: right;
  cursor: pointer;
}


@media (max-width: 499px) and (max-height:600px) {
.footer {
  display: none;  
}
}